.about {
    margin-bottom: 100px;

    @include media ($xs) {
        margin-bottom: 50px;
    }
    
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__logo {
        max-width: 440px;
        width: 100%;

        @include media ($xs) {
            transform: scale(0.9);
        }
}

    &__left {
        max-width: 515px;
        width: 100%;
    }

    &__right {
        max-width: 515px;
        width: 100%;
    }

    &__text {
        color: $grayText;
        font-family: $mr;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        @include media ($xs) {
            font-size: 14px
        }
    }

    &-container {
        margin-top: 100px;
        @include media ($xs) {
            margin-top: 50px;
        }
    }
}