.post {
    &-blog {
        padding-top: 100px;
        position: relative;
    }

    &-content {
        max-width: 940px;
        width: 100%;
        margin-bottom: 100px;

        @include media ($xs) {
            margin-bottom: 50px;
        }
    }

    &-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include media ($xs) {
            margin-bottom: 60px;
        }
    }

    &__default {
        &-title {
            color: $black;
            font-family: $msb;
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            @include media ($xs) {
                font-size: 20px;
            }
        }
    }
}