.post {
    &__video {
        max-width: 940px;
        width: 100%;
        margin: 24px 0 40px 0;

        &-icon {
            @include media ($xs) {
                width: 50px;
            }
        }
    }

    &-video {
        &-youtube {
            @include media ($xs) {
                height: 200px;
                border-radius: 5px;
            }
        }
    }

    &__others {
        &-item {
            display: flex;
            gap: 10px;
            margin-bottom: 12px;

            @include media ($xs) {
                align-items: center;
            }
        }

        &-text {
            color: $grayText;
            font-feature-settings: 'cv11' on, 'cv01' on, 'ss01' on;
            font-family: $mm;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            @include media ($xs) {
                font-size: 14px;
            }
        }
    }
}