@font-face {
    font-family: Montserrat-Semi-Bold;
    src: url("@/assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("@/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat-Medium;
    src: url("@/assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Bellota-Regular;
    src: url("@/assets/fonts/Bellota-Regular.ttf");
}

@font-face {
    font-family: Rubik-Regular;
    src: url("@/assets/fonts/Rubik-Regular.ttf");
}

@font-face {
    font-family: Arabsky;
    src: url("@/assets/fonts/Arabskij.ttf") format('opentype');
}