// the fonts variables 

$msb: 'Montserrat-Semi-Bold';
$mr: 'Montserrat-Regular';
$mm: 'Montserrat-Medium';
$br: 'Bellota-Regular';
$rr: 'Rubik-Regular';
$ar: 'Arabsky';

// the color variables

$black: #000000;
$white: #FFFFFF;

$bodyWhite: #F5F5F5;

$buttonBlack: #212121;
$selectionBlack: #21212195;
$scrollBlack: #212121;


$grayText: #4B4B4B;
$lineGray: #A0A0A0;
$buttonGray: var(--Black-03, rgba(33, 33, 33, 0.03));
$menuGraytext: var(--Black-60, rgba(33, 33, 33, 0.60));
$menuLine: rgba(33, 33, 33, 0.10);