.header {
    position: relative;

    &__container {
        background: url("@/assets/images/header/header-bg.webp") no-repeat center /cover;
        height: 100vh;
        position: relative;
    }

    &__bordered {
        background: transparent !important;
        outline: 1px solid $white !important;
        color: white !important;
        text-align: center;
        font-family: $msb;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    
        &:hover {
            color: $black !important;
            background: $white !important;
        }
    }

    &__background {
        &-dark {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.68) 12.98%, rgba(0, 0, 0, 0.40) 100%);
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }

    &__title {
        color: $white;
        text-align: center;
        font-family: $ar;
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 680px;
        width: 100%;

        @include media ($xs) {
            font-size: 47px;
        }
    }

    &__description {
        color: var(--white, #F5F5F5);
        text-align: center;
        font-family: $mr;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        max-width: 650px;
        width: 100%;
        margin: 32px 0;

        @include media ($xs) {
            font-size: 14px;
        }
    }

    &__button {
        color: $black;
        text-align: center;
        font-family: $msb;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        background: $white;
        padding: 14px 24px;
        border-radius: 4px;
        border: none;
        transition: 300ms;
        display: block;

        @include media ($xs) {
            width: 100%;
        }

        &-link {
            @include media ($xs) {
                width: 100%;
            }
        }

        &:hover {
            background: transparent;
            outline: 1px solid $white;
            color: white;
        }

        &-container {
            display: flex;
            gap: 16px;
            flex-wrap: wrap;

            @include media ($xs) {
                width: 100%;
            }
        }
    }
}

.about-bg {
    background: url("@/assets/images/header/about-header-bg.webp") no-repeat center /cover;
}