.menu {
    margin-bottom: 50px;
    
    &__title {
        margin-bottom: 30px;
    }

    &__pivo {
        width: 50%;

        @include media ($md) {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    &__vodka {
        width: 45%;

        @include media ($md) {
            width: 100%;
        }
    }

    &__content {
        //max-width: 620px;
        width: 100%;

        &-container {
            max-width: 650px;
            width: 100%;

            &-vine {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
    }

    &__item {
        max-width: 720px;
        width: 100%;
        margin-bottom: 10px 0;
        border-bottom: 1px solid $menuLine;
        transition: 300ms;

        &-vine {
            width: 50%;

            @include media ($xs) {
                width: 100%;
            }
        }

        &-set {
            max-width: 100% !important;
            width: 100% !important;

            &-container {
                width: 100%;
                max-width: 100% !important;
            }
        }
        
        &:hover &-container {
            background: $menuLine;
            border-radius: 6px;
        }
            
        &-container {
            transition: 300ms;
            padding: 12px;
            display: flex;
            justify-content: space-between;

            &-set {
                width: 100%;
                max-width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 20px;
            }

            @include media ($xs) {
                align-items: center;
            }
        }

        &-title {
            color: $black;
            font-family: $msb;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            
            @include media ($xs) {
                font-size: 16px;
                max-width: 200px;
                margin-bottom: 5px;
            }
        }

        &-text {
            color: $menuGraytext;
            font-family: $mr;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            max-width: 355px;
            width: 100%;

            @include media ($xs) {
                font-size: 12px;
                max-width: 230px;   
            }
        }
    }
}