.info {
    &__title {
        color: $black;
        font-family: $msb;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 20px;
    }

    &__text {
        max-width: 450px;
        width: 100%;
        color: $grayText;
        font-family: $mr;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        @include media ($md) {
            max-width: 100%;
            width: 100%;
        }
    }

    &__button {
        &-container {
            display: flex;
            gap: 16px;
            margin-top: 30px;

            @include media ($md) {
                width: 100%;
                flex-wrap: wrap;
            }
        }
    }
}