.footer {
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        margin-bottom: 20px;
        border-top: 1px solid $lineGray;
        flex-wrap: wrap;
    }

    &__logo {
        max-width: 405px;
        width: 100%;
    }

    &__social {
        display: flex;
        gap: 16px;
        align-items: center;

        &-mobile {
            margin-top: 10px;
        }

        &-text {
            color: $grayText;
            font-family: $mr;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &-container {
            display: flex;
            gap: 12px;
        }
    }

    &__action {
        @include media ($xs) {
            width: 100%;
            margin-top: 20px;
        }
    }

    &__bar {
        &-container {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &-link {
            color: $black;
            font-family: $mr;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            &::after {
                content: '';
                display: block;
                background: $black;
                height: 1px;
                width: 0px;
                transition: 300ms;
            }

            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }
    &__contacts {
        &-container {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &-el {
            display: flex;
            gap: 10px;
        }

        &-text {
            color: $black;
            font-family: $mr;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}